html {
    font-family: 'Inter';
    background-color: black;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
    html {
        scroll-behavior: auto;
    }
}

a {
    text-decoration: none;
}

h2 {
    color: #bdb679;
    font-size: 10vw;
    font-weight: 500;
    text-align: center;
}

h3 {
    color: #bdb679;
    font-size: 6vw;
    font-weight: normal;
    text-align: center;
    font-weight: 500;
}

.skip {
    position: absolute;
    color: white;
    left: -1000px;
    top: auto;
    font-size: 14px;
}

.skip:focus {
    left: auto;
}

/* BEGIN NAV STYLES */
nav {
    position: fixed;
    left: -70%;
    width: 70%;
    height: 100%;
    background-color: rgb(30, 30, 30);

    /* transition */
    transition: left 1s;
    z-index: 1000;
}

.nav-toggle {
    position: fixed;
    left: 0px;
}

nav li {
    font-size: 13vw;
    margin: 50px 30px;
}

nav a {
    color: rgb(170, 170, 170);
    background-color: transparent;
}
nav a:hover, nav a:focus {
    color: rgb(119, 119, 119);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

nav button {
    background-color: rgb(30, 30, 30);
    position: absolute;
    border: none;
    left: 97%;
    border-radius: 5px;
    padding: 15px 15px 15px 17px;
}

.nav-icon {
    width: 30px;
    height: auto;
    background-color: transparent;
    float: right;
}

/* TABLET STYLE */
@media screen and (min-width: 800px) {
    nav {
        position: fixed;
        bottom: 0;
        left: 0;
        height: auto;
        background: black;
        width: 100%;
        border-top: 1px solid rgb(170, 170, 170);
    }

    .nav-container {
        display: grid;
        grid-template-columns: 40% 14% 14% 14% 14%;
        justify-content: end;
        align-content: center;
        text-align: center;
    }

    .nav-container > li {
        font-size: 24px;
        display: inline;
        list-style-type: none;
        padding: 20px;
        margin: 0;
    }
    
    nav li:first-child {
        display: none;
    }

    .home-link {
        text-align: left;
    }

    .home-link > a {
        color: #bdb679;
    }

    .home-link > a:hover, .home-link > a:focus {
        color: #777247;
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
}

/* DESKTOP STYLE */
@media screen and (min-width: 1200px) {
    nav {
        position: fixed;
        top: auto;
        bottom: auto;
        left: 0;
        height: auto;
        background: black;
        width: 100%;
        border-bottom: 1px solid rgb(170, 170, 170);
    }

    .nav-container {
        display: grid;
        grid-template-columns: 40% 14% 14% 14% 14%;
        justify-content: end;
        align-content: center;
        text-align: center;
    }

    .nav-container > li {
        font-size: 24px;
        display: inline;
        list-style-type: none;
        padding: 20px;
        margin: 0;
    }
    
    nav li:first-child {
        display: none;
    }

    .home-link {
        text-align: left;
    }

    .home-link > a {
        color: #bdb679;
    }

    .home-link > a:hover, .home-link > a:focus {
        color: #777247;
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }

}

/* END NAV STYLES */

/* HOME STYLES */
.home {
    padding: 100px 70px 50px;
    text-align: center;
}

.home-name {
    display: block;
    font-family: 'Inter';
    color: #bdb679;
    font-size: 12vw;
    text-align: left;
    font-weight: 500;
}

.home-desc {
    display: block;
    font-family: 'Inter';
    color: #bdb679;
    font-size: 4vw;
    line-height: 5vw;
    text-align: left;
    margin-top: 20px;
}

.home > img {
    width: 80%;
}

/* HOME DESKTOP VIEW */
@media screen and (min-width: 800px) {
    .home {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
        padding-top: 120px;
        margin-bottom: 80px;
        margin-left: 5%;
    }
    .home-name {
        font-size: 8vw;
    }

    .home-desc {
        font-size: 2vw;
        line-height: 2.5vw
    }

}

/* END HOME STYLES */

/* ABOUT STYLES */

.about {
    padding: 0 40px 60px 60px;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
}

.about > img {
    width: 80%;
    border-radius: 100%;
    margin: auto;
}

.about-me {
    padding-top: 30px;
    text-align: center;
}

.about-desc {
    font-family: 'Inter';
    color: #bdb679;
    font-size: 5vw;
    line-height: 6vw;
    text-align: left;
    padding-top: 25px;
}

/* ABOUT DESKTOP VIEW */
@media screen and (min-width: 800px) {
    .about {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
        padding-bottom: 100px;
    }

    .about > img {
        display: block;
        width: 70%;
        border-radius: 100%;
        grid-row: 1 / span 2;
        grid-column: 1;
    }

    .about-me {
        font-size: 4vw;
        padding: 0;
    }

    .about-desc {
        font-size: 2vw;
        padding: 0;
    }
}

/* END ABOUT STYLES */

/* SKILLS AND PROJECTS STYLES */

.skills .projects {
    padding: 0 40px 0 60px;
    text-align: center;
}

.swipe-instructions {
    color: rgb(170, 170, 170);
    display: block;
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
}

.bubble-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    height: auto;
    gap: 5vw;
    padding-top: 25px;
}

.info-bubble {
    background-color: rgb(0, 0, 0);
    border: 1px solid #bdb679;
    border-radius: 40px;
    width: 500px;
    height: 250px;

    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
}

.bubble-title {
    padding-bottom: 20px;
}

.bubble-content {
    font-size: 23px;
    line-height: 30px;
    color: white;
    text-align: center;
}

.projects .bubble-content {
    text-align: left;
    margin: 0 40px;
}

.bubble-content-back {
    display: none;
}

/* SKILLS TABLET VIEW */
@media screen and (min-width: 800px) {
    .bubble-container {
        grid-template-columns: auto auto;
        grid-template-rows: 20vw;
        justify-content: center;
        gap: 75px 75px;
        box-sizing: border-box;
    }

    .info-bubble:nth-child(2n) {
        justify-self: start;
    }

    .info-bubble:nth-child(2n+1) {
        justify-self: end;
    }

    .info-bubble {
        width: 60%;
        height: 19vw;
        margin: 0 20px;
    }

    .bubble-title {
        font-size: 3vw;
    }

    .bubble-content {
        font-size: 1.75vw;
        line-height: 2.5vw;
        color: white;
    }
}

/* SKILLS DESKTOP VIEW */
@media screen and (min-width: 1200px) {
    .skills-title {
        font-size: 4.5vw;
    }

    .bubble-container {
        grid-template-columns: auto auto;
        grid-template-rows: 20vw;
        justify-content: center;
        gap: 0 75px;
        box-sizing: border-box;
        height: auto;
    }

    .info-bubble:nth-child(2n) {
        justify-self: start;
    }

    .info-bubble:nth-child(2n+1) {
        justify-self: end;
    }

    .info-bubble {
        width: 50%;
        height: 150px;
        margin: 0 20px;
        transition: all .2s ease-in-out;
    }

    .info-bubble:hover, .skils-bubble:focus {
        transform: scale(1.1);
        background-color: rgb(30, 30, 30)
    }

    .bubble-title {
        font-size: 2vw;
    }

    .bubble-content {
        font-size: 1vw;
        line-height: 1.5vw;
        color: white;
    }
}
/* END SKILLS AND PROJECTS STYLES */

/* CONTACT STYLES */
.contact-content {
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    margin-top: 30px;
    gap: 30px;
    justify-content: center;
    align-content: center;
}
.contact-bubble {
    border: 1px solid #bdb679;
    width: 400px;
    height: 80px;
    align-content: center;
    border-radius: 30px;
}

.contact-bubble-inside {
    display: grid;
    grid-template-columns: 25% 75%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contact-bubble-inside > img {
    width: 50px;
    height: auto;
    margin: auto;
}

.contact-bubble-inside > p {
    margin-right: 60px;
    color: white;
    font-size: 32px;
    font-weight: 300;
}


/* END CONTACT STYLES */